header {
      background-color: #0b1a3d;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0%;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
      border-radius: 10px;
    }

    .left-header {
      display: flex;
      align-items: center;
    }

    .left-header img {
      height: 40px;
      margin-right: 10px;
    }

    .right-header {
      display: flex;
      gap: 10px;
    }

    .right-header a {
      color: white;
      text-decoration: none;
      padding: 5px 10px;
    }

    .right-header button {
      background-color: #555;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }





.main-banner {
    text-align: center;
    position: relative;
}

.main-banner img  {
    border-radius: 8px;
    width: 100%;
}


nav {
    position:absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    border-radius: 40px;
    font-size: larger;
    padding: 10px 40px;
    margin: 0px 50px;
  


    background-color:rgb(255, 220, 46)

}

nav a:hover {
    background-color: rgb(108, 108, 233);
}